/* Page principale */

body {
    font-family: "Roboto";
}

.fond {
    background: linear-gradient(to right, #0055aa, #6600cc);
}

/* Header */

header {
    border-bottom: 1.5px solid grey;
}

#signature {
    width: 100px;
    justify-content: start;
}

.menu {
    display: flex; /*  Mise à l'horizontal*/
    padding: 0;
    gap: 40px; /*  Espace entre les balises*/
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
}

.menu li {
    list-style-type: none; /* Suppression des puces */
}

.menu a {
    color: white;
    display: block;
    text-decoration: none;
    min-width: 50px;
    font-size: x-large;
}

.menu #accueil {
    text-decoration: underline;
}

.menu a:hover {
    color: aqua;
}

.menu .logo {
    margin-right: auto;
}

/* Contenu de la page */



/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

small li {
    list-style-type: none;
    height: 20px;
}

small a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#li-fast-nav {
    margin-bottom: 10px;
}

#fast-nav {
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

small a:hover {
    color: aqua;
}

.footer_icons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

#github-icon {
    width: 40px;
    border: 3.5px solid white;
    border-radius: 40px;
}

#linkedin-icon {
    width: 40px;
    border: 3.5px solid white;
    border-radius: 40px;
}

#copyright {
    color: white;
}